<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppChamDiem"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".lab.lab1.lab1Activity"></activity>
        <activity android:name=".lab.lab1.bai1.lab1bai1Activity"></activity>
        <activity android:name=".lab.lab1.bai2.lab1bai2Activity"></activity>
        <activity android:name=".lab.lab1.bai3.lab1bai3Activity"></activity>
        <activity android:name=".lab.lab1.bai4.lab1bai4Activity"></activity>
        <activity android:name=".lab.lab2.lab2Activity"></activity>
        <activity android:name=".lab.lab2.bai1.lab2bai1Activity"></activity>
        <activity android:name=".lab.lab2.bai2.lab2bai2Activity"></activity>
        <activity android:name=".lab.lab2.bai3.lab2bai3p1Activity"></activity>
        <activity android:name=".lab.lab2.bai3.lab2bai3p2Activity"></activity>
        <activity android:name=".lab.lab2.bai3.lab2bai3p3Activity"></activity>
        <activity android:name=".lab.lab3.lab3Activity"></activity>
        <activity android:name=".lab.lab3.bai1.lab3bai1Activity"></activity>
        <activity android:name=".lab.lab3.bai2.lab3bai2Activity"></activity>
        <activity android:name=".lab.lab3.bai3.lab3bai3ListPlayer"></activity>
        <activity android:name=".lab.lab3.bai3.lab3bai3DetailPlayer"></activity>
    </application>

</manifest>